@import '../../variable.scss';

.basket{
    padding: 100px 0;
    background-color: $green;

    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 50px;
    }

    &__products{
        width: 65%;
    }

    &__product{
        display: flex;
        align-items: center;
        padding-bottom: 30px;
        border-bottom: 1px solid $white;
        position: relative;
        
        & + &{
            margin-top: 50px;
        }

        &-img{
            width: 200px;
            height: auto;
            border-radius: 10px;
        }

        &-name{
            text-decoration: none;
            color: $black;
        }

        &-data{
            margin-left: 30px;
        }

        &-brand, &-size{
            @include simpleText();
            margin-top: 5px;
        }

        &-price{
            @include text(24px, 400, 33px);
            margin: 0;
            margin-top: 10px;
            span{
                font-weight: 500;
            }
        }
    }

    &__count{
        display: flex;
        align-items: center;
        margin-top: 5px;
    }

    &__minus, &__add, &__counter{
        padding: 0;
        margin: 0;
        width: 40px;
        height: 40px;
        background-color: $gray;
        color: $white;
        border: none;

        @include simpleText();
        text-align: center;
        outline: none;
    }
    &__minus{
        border-radius: 10px 0 0 10px;
        cursor: pointer;

        svg{
            transform: translateY(-6px);
        }
    } 
    &__add{
        border-radius: 0 10px 10px 0;
        cursor: pointer;
    }

    &__sum{
        width: 25%;
        padding: 20px;
        background-color: $light-green;
        border-radius: 10px;
    }

    &__cost, &__payable{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include simpleText();
        margin-bottom: 30px;
        p{
            margin: 0;
        }
    } 

    &__payable p:first-child{
        @include text(24px, 700, 40px);
    }

    &__pay{
        @include button();
        width: 100%;
        margin-top: 50px;
    }

    &__delete{
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0;

        position: absolute;
        top: 0;
        right: 0;
        svg{
            width: 20px;
            height: 20px;
            path{
                fill: lighten($black, 50%);
            }
        }

        &:hover{
            svg{
                path{
                    fill: $black;
                }
            }
        }
    }

}